/* general css */ 
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
        font-family: "poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
    }
      
h2{
    font-family: "poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
}

p{
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #faf1d9;
}

/*animated logo*/
.emwlogo{
    max-width: 200px;
}

/* to top arrow*/
#to-top{
    position:fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    font-size: 30px;
    color:#e1368b;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: bottom 200ms, transform 200ms;
}

/*top navigation*/
.head{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}   

.topnav{
    overflow: hidden;       
}

.topnav a{
    color:#141414;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-right: 30px;
}

.topnav a.active{
   color:#e1368b;
    
}

.topnav a:hover{
    color: #a7ae22;
}

.topnav .icon{
    display: none;
}

/*hamburger menu or responsive top navigation menu details*/
@media screen and (max-width: 768px) {
    .topnav a{
        display: none;
    }
    .topnav a.icon{
        float: right;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .topnavresponsive a{
        color:#141414;
        padding: 14px 16px;
        text-decoration: none;
        display: block;
    }
    
    .topnavresponsive a:hover{
        color: #a7ae22;
    }
    
    .topnavresponsive a.active{
        color:#E1368B;
    }
}

